@model Product

@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}

<h2>Details</h2>

<div>
    <h4>@Model.Name</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>Cost</dt>
        <dd>@Model.Cost.ToString("C")</dd>
        <dt>Description</dt>
        <dd>@Model.Description</dd>
    </dl>
    <p><img src="/Users/vlad/RiderProjects/ASP.NET_Core_6.0_kurators/OnlineShop/OnlineShopWebApp/images/c\#.png" width="300" height="300" alt="C#"></p>
</div>