@model IEnumerable<Product>

@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

<h2>Products</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Cost</td>
            <td>@product.Description</td>
        </tr>
    }
</table>