@model Product

@{
	ViewBag.Title = "AddingProduct";
	Layout = "_Layout";
}

<h2>Add new product</h2>

<form method="post">
	<div class="col">
		<div class="col-4">
			<input class="form-control-mine" name="productName" placeholder="Name" required type="text">
		</div>
		<br/>

		<div class="col-4">
			<input class="form-control-mine" name="productCost" placeholder="Cost" required type="text">
		</div>
		<br/>

		<div class="col-4">
			<input class="form-control-mine" name="productDescription" placeholder="Description" required type="text">
		</div>
		<br/>
		<div class="col-4">
			<input class="form-control-mine" name="productSource" placeholder="Image source" required type="text">
		</div>
		<br/>
		<div class="col-4">
			<input class="form-control-mine" name="productMetacriticScore" placeholder="Metacritic score" required type="number">
		</div>
		<br/>
		<div class="col-4">
			<input class="form-control-mine" name="productGenre" placeholder="Genre" required type="text">
		</div>
		<br/>
		<div>
			<button asp-action="AddNewProduct" class="btn btn-primary btn-hover btn-lg px-4 gap-3" type="submit">Add</button>
		</div>
	</div>
</form>