@model List<Role>

@{
	ViewBag.Title = "Roles";
	Layout = "_Layout";
}

<h2>Roles</h2>

<a asp-action="AddNewRole" class="btn btn-primary btn-shop btn-lg px-4 gap-3">
	Add new role
</a>
<table class="table table-hover table-borderless table-striped-columns">
@foreach (var role in Model)
{
	<tr>
	<td class="text-center">@role.RoleName</td>
		<td class="text-center">
			<a asp-action="EditRole" asp-route-roleId="@role.RoleId" class="btn btn-primary btn-shop btn-lg px-4 gap-3">
				Edit role
			</a>
		</td>
		<td class="text-center">
			<a asp-action="DeleteRole" asp-route-roleId="@role.RoleId" class="btn btn-primary btn-shop btn-lg px-4 gap-3">
				Delete role
			</a>
		</td>
	</tr>
}
</table>