@model int

@if (Model == 0)
{
	<a asp-area="" asp-action="Index" asp-area="" asp-controller="Cart" class="nav-link text-dark">
	<svg class="icons" height="24" viewBox="0 0 27 30" xmlns="http://www.w3.org/2000/svg">
		<path d="M26.3424 27.2864L25.3017 8.4147H20.1025V6.89115C20.1025 3.0912 17.0113 0 13.2115 0C9.41174 0 6.32054 3.09135 6.32054 6.89115V8.4147H0.896401L0.00105207 27.368L0.000145695 27.4008C-0.00720431 28.0829 0.263848 28.7523 0.743398 29.2367C1.2231 29.7216 1.88955 30 2.5719 30H23.7746C24.4778 30 25.1588 29.7071 25.6425 29.196C26.1261 28.685 26.3812 27.989 26.3424 27.2864ZM8.11785 6.89115C8.11785 4.0824 10.4028 1.7973 13.2115 1.7973C16.0201 1.7973 18.3052 4.0824 18.3052 6.89115V8.4147H8.1177V6.89115H8.11785ZM24.3371 27.9603C24.1911 28.1142 23.9862 28.2026 23.7744 28.2026H2.57175C2.36625 28.2026 2.16569 28.1188 2.02094 27.9724C1.87964 27.8299 1.7985 27.6339 1.79715 27.4329L2.6106 10.212H6.32025V12.4879C6.32025 12.9843 6.72255 13.3866 7.2189 13.3866C7.71525 13.3866 8.11755 12.9843 8.11755 12.4879V10.212H18.3051V12.4879C18.3051 12.9843 18.7074 13.3866 19.2037 13.3866C19.7001 13.3866 20.1023 12.9843 20.1023 12.4879V10.212H23.6004L24.5473 27.3855C24.5595 27.597 24.4827 27.8065 24.3371 27.9603Z"/>
	</svg>
	</a>
}
else
{
	<a asp-area="" asp-action="Index" asp-area="" asp-controller="Cart" class="nav-link-cart text-dark">
	<svg class="icons" height="24" viewBox="0 0 27 30" xmlns="http://www.w3.org/2000/svg">
		<path d="M26.3424 27.2864L25.3017 8.4147H20.1025V6.89115C20.1025 3.0912 17.0113 0 13.2115 0C9.41174 0 6.32054 3.09135 6.32054 6.89115V8.4147H0.896401L0.00105207 27.368L0.000145695 27.4008C-0.00720431 28.0829 0.263848 28.7523 0.743398 29.2367C1.2231 29.7216 1.88955 30 2.5719 30H23.7746C24.4778 30 25.1588 29.7071 25.6425 29.196C26.1261 28.685 26.3812 27.989 26.3424 27.2864ZM8.11785 6.89115C8.11785 4.0824 10.4028 1.7973 13.2115 1.7973C16.0201 1.7973 18.3052 4.0824 18.3052 6.89115V8.4147H8.1177V6.89115H8.11785ZM24.3371 27.9603C24.1911 28.1142 23.9862 28.2026 23.7744 28.2026H2.57175C2.36625 28.2026 2.16569 28.1188 2.02094 27.9724C1.87964 27.8299 1.7985 27.6339 1.79715 27.4329L2.6106 10.212H6.32025V12.4879C6.32025 12.9843 6.72255 13.3866 7.2189 13.3866C7.71525 13.3866 8.11755 12.9843 8.11755 12.4879V10.212H18.3051V12.4879C18.3051 12.9843 18.7074 13.3866 19.2037 13.3866C19.7001 13.3866 20.1023 12.9843 20.1023 12.4879V10.212H23.6004L24.5473 27.3855C24.5595 27.597 24.4827 27.8065 24.3371 27.9603Z"/>
	</svg>
	<sub class="icons">@Model</sub>
	</a>
}