@model Cart

@{
	ViewBag.Title = "Validation";
	Layout = "_Layout";
}

<h2 style="margin-top: 40px; margin-bottom: 40px">You're moments away from completing your purchase</h2>
<div class="row">
	@if (Model == null || !Model.CartItems.Any())
	{
		<div class="parent">
			<div class="block">
				<h2>Your shopping cart feels lonely...(ಥ﹏ಥ)</h2>
			</div>
		</div>
	}
	else
	{
		<div class="col-5 flex">
			<table class="table table-hover table-borderless col-4 flex-center">
				@foreach (var cartItem in Model.CartItems)
				{
					<tr>
						<td class="text-center">@cartItem.Product.Name</td>
						<td class="text-center">
							@cartItem.Cost.ToString("C")
						</td>
					</tr>
				}
			</table>
			<div class="text-end flex-end">
				<h5>Subtotal = @Model.SubTotal.ToString("C")</h5>
				<h5>
					@{
						var tax = (Model.SubTotal * 0.2m).ToString("C");
					}
					Tax = @tax
				</h5>
				<h5>Shipping = 500,00 ₽</h5>
				<h5>
					@{
						var total = (Model.SubTotal * 1.2m + 500m).ToString("C");
					}
					Total = @total
				</h5>
			</div>
		</div>
	}
	<div class="col-7">
		<div class="card bg-primary text-gray rounded-3">
			<div class="card-body">
				<div class="d-flex justify-content-between align-items-center mb-4">
					<h5 class="mb-0">Card details</h5>
					<img alt="Avatar"
						class="img-fluid rounded-3" src="#" style="width: 45px;">
				</div>
				<p class="small mb-2">Payment method</p>
				<a class="text-gray" href="#!" type="submit">
					<img src="~/images/mir.png" alt="Mastercard" class="img-mine" style="height: 20px;">
				</a>
				<a class="text-gray" href="#!" type="submit">
					
				</a>
				<form class="mt-4">
					<div class="form-outline form-white mb-4">
						<input class="form-control form-control-lg" id="typeName" placeholder="Cardholder's Name" siez="17"
							style="text-transform: uppercase" type="text"/>
					</div>
					<div class=" form-outline form-white mb-4">
						<input class="form-control form-control-lg" id="typeCardNumber" maxlength="16" minlength="16"
							placeholder="1234 5678 9012 3456" siez="17" type="text"/>
					</div>
					<div class="row mb-4">
						<div class="col-md-6">
							<div class="form-outline form-white">
								<input class="form-control form-control-lg" id="typeDate" id="exp"
									maxlength="4" minlength="4" placeholder="MM/YY" size="7" type="text"/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-outline form-white">
								<input class="form-control form-control-lg" id="typeCvv" maxlength="3"
									minlength="3" placeholder="•••" size="1" type="password"/>
							</div>
						</div>
					</div>

					@section scripts{
						<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

						<script>
                            $(function () {
                                $("#typeCardNumber").mask("0000 0000 0000 0000");
                            });
							$(function () {
                                $("#typeDate").mask("00/00")
                            });
                        </script>
					}

				</form>
				<button class="btn btn-primary btn-shop float-end btn-lg px-4 gap-3" type="button">
					<div class="d-flex justify-content-center">Check Out</div>
				</button>
			</div>
		</div>
	</div>
</div>