@using System.Globalization
@model CartViewModel

@{
	ViewBag.Title = "Checkout";
	Layout = "_Layout";
}

<h2 style="margin-top: 40px; margin-bottom: 40px">You're moments away from completing your purchase</h2>
<div class="row">
	<div class="col-5 flex">
		<table class="table table-hover table-borderless col-4 flex-center">
			@foreach (var cartItem in Model.CartItems)
			{
				<tr>
					<td class="text-center">@cartItem.Product.Name</td>
					<td class="text-center">
						@cartItem.Cost?.ToString("C", new CultureInfo("ru-RU"))
					</td>
				</tr>
			}
		</table>
		<div class="text-end flex-end">
			<h5>Subtotal = @Model.SubTotal.ToString("C", new CultureInfo("ru-RU"))</h5>
			<h5>
				@{
					var tax = (Model.SubTotal * 0.2m).ToString("C", new CultureInfo("ru-RU"));
				}
				Tax = @tax
			</h5>
			<h5>Shipping = 500,00 ₽</h5>
			<h5>
				@{
					var total = (Model.SubTotal * 1.2m + 500m).ToString("C", new CultureInfo("ru-RU"));
				}
				Total = @total
			</h5>
		</div>
	</div>
	<div class="col-7">
		<div class="card bg-primary text-gray rounded-3">
			<div class="card-body">
				<div class="d-flex justify-content-between align-items-center mb-4">
					<h5 class="mb-0">Card details</h5>
					<img alt="Avatar"
						class="img-fluid rounded-3" src="#" style="width: 45px;">
				</div>
				<p class="small mb-2">Payment method</p>
				<a href="#!" type="submit">
					<svg class="icons-pay" height="50" viewBox="0 0 50 50" width="50" xmlns="http://www.w3.org/2000/svg">
						<path d="M39.7314 8.98459V17.7346L40.708 16.758H11.2012C10.1709 16.758 9.17969 17.2463 8.67188 18.1692C8.33008 18.7844 8.31543 19.424 8.31543 20.093V33.2424L9.29199 32.2658H4.89746C4.88281 32.2658 4.69238 32.2658 4.69238 32.2561L4.82422 32.2707C4.78027 32.261 4.74121 32.2512 4.69727 32.2414C4.6582 32.2317 4.61426 32.217 4.5752 32.2024C4.47754 32.1633 4.49707 32.1731 4.62891 32.2317C4.62891 32.2365 4.47266 32.1487 4.46289 32.1438C4.2627 32.0266 4.46289 32.1487 4.45312 32.1535C4.44336 32.1633 4.17969 31.8996 4.18945 31.8899C4.21387 31.8654 4.30664 32.0705 4.2334 31.9338C4.2041 31.8801 4.16992 31.8215 4.14063 31.7678C4.19434 31.9729 4.0332 31.5822 4.14063 31.7678C4.13574 31.7483 4.06738 31.5188 4.07715 31.5188L4.0918 31.6506C4.08691 31.6067 4.08203 31.5627 4.08203 31.5188C4.07715 31.4358 4.08203 31.4748 4.08203 31.4504V31.3918C4.07227 29.7024 4.08203 28.008 4.08203 26.3186V8.92112C4.08203 8.8967 4.08691 8.87717 4.08691 8.85276C4.09668 8.74533 4.09668 8.76487 4.07715 8.91623C4.07227 8.91623 4.13574 8.68674 4.14063 8.66721C4.19434 8.45725 4.0332 8.84787 4.14063 8.66721C4.1748 8.6135 4.2041 8.55979 4.2334 8.50119C4.33594 8.31565 4.08203 8.65256 4.2334 8.49631C4.27734 8.45237 4.31641 8.40354 4.36523 8.35959C4.53125 8.20334 4.36523 8.35959 4.36035 8.35471C4.35547 8.34983 4.50684 8.26194 4.52148 8.25217C4.72656 8.13987 4.5166 8.24729 4.5166 8.2424C4.5166 8.23264 4.67285 8.18869 4.70215 8.18381C4.72168 8.17893 4.74609 8.17405 4.76562 8.16916C4.87305 8.14963 4.84863 8.14963 4.69727 8.17405C4.69727 8.16428 4.88281 8.16428 4.89746 8.16428H35.5811C36.6943 8.16428 37.8076 8.14963 38.9209 8.16428C38.9453 8.16428 39.126 8.1594 39.126 8.17405C39.1309 8.19846 38.8916 8.11057 39.0918 8.17893C39.1406 8.19358 39.1943 8.20822 39.248 8.22287C39.458 8.27658 39.0674 8.11545 39.248 8.22287C39.3018 8.25705 39.3555 8.28635 39.4141 8.31565C39.5996 8.41819 39.2627 8.16428 39.4189 8.31565C39.4629 8.35959 39.5117 8.39865 39.5557 8.44748C39.7119 8.6135 39.5557 8.44748 39.5605 8.4426C39.5654 8.43772 39.6533 8.58908 39.6631 8.60373C39.7754 8.80881 39.668 8.59885 39.6729 8.59885C39.6826 8.59885 39.7266 8.76975 39.7314 8.7844C39.7363 8.80393 39.7412 8.82834 39.7461 8.84787C39.7656 8.9553 39.7656 8.93088 39.7412 8.77951C39.7314 8.7844 39.7314 8.96994 39.7314 8.98459C39.7412 9.49729 40.1758 9.98557 40.708 9.96115C41.2305 9.93674 41.6943 9.53147 41.6846 8.98459C41.6553 7.46115 40.4395 6.23557 38.9111 6.21115H5.89355C5.55664 6.21115 5.22461 6.20627 4.8877 6.21115C3.67187 6.23069 2.63184 6.99729 2.24121 8.14475C2.12402 8.48166 2.10938 8.83811 2.10938 9.18967V31.4309C2.12402 32.6272 2.86133 33.6526 3.97949 34.0627C4.54102 34.2678 5.1709 34.2141 5.75684 34.2141H9.28223C9.80957 34.2141 10.2588 33.7649 10.2588 33.2375V23.6721C10.2588 22.3196 10.2539 20.9719 10.2588 19.6194V19.4924C10.2588 19.4485 10.2637 19.4045 10.2686 19.3606C10.2734 19.2287 10.2148 19.5461 10.2637 19.424C10.293 19.3508 10.3174 19.2531 10.332 19.175C10.3564 19.053 10.2393 19.3362 10.3076 19.2336C10.3369 19.1897 10.3564 19.1408 10.3809 19.0969C10.376 19.1067 10.4492 18.9895 10.4492 18.9895C10.4688 18.9992 10.3076 19.1457 10.4102 19.0383L10.5859 18.8625C10.7178 18.7356 10.542 18.9065 10.5371 18.9016C10.5371 18.9016 10.6299 18.843 10.6445 18.8332C10.6787 18.8137 10.7178 18.7942 10.7568 18.7697C10.9326 18.6672 10.5615 18.8235 10.7568 18.7697C10.7715 18.7649 11.0059 18.6965 11.0059 18.7063C11.0059 18.7209 10.7471 18.7209 10.9424 18.716C10.9863 18.716 11.0303 18.7112 11.0742 18.7112H11.084C11.2744 18.7063 11.4648 18.7112 11.6553 18.7112H40.7031C41.2305 18.7112 41.6797 18.2619 41.6797 17.7346V8.98459C41.6797 8.4719 41.2305 7.98362 40.7031 8.00803C40.1807 8.03244 39.7314 8.43772 39.7314 8.98459Z"/>
						<path d="M3.09081 14.1894H39.1797C39.668 14.1894 40.1611 14.1992 40.6494 14.1894H40.7129C41.2256 14.1894 41.7139 13.7402 41.6894 13.2128C41.665 12.6855 41.2598 12.2363 40.7129 12.2363H4.62402C4.13574 12.2363 3.64257 12.2265 3.15429 12.2363H3.09081C2.57812 12.2363 2.08984 12.6855 2.11425 13.2128C2.13867 13.7451 2.54394 14.1894 3.09081 14.1894ZM45.9326 19.5312V41.0107C45.9326 41.0351 45.9326 41.2158 45.9228 41.2206C45.9033 41.2255 45.9814 40.9667 45.9277 41.1523C45.9082 41.2109 45.8935 41.2744 45.874 41.3378C45.8203 41.5331 45.9619 41.2158 45.8887 41.3085C45.8496 41.3623 45.8105 41.4404 45.7812 41.499C45.6836 41.6748 45.8984 41.3964 45.8008 41.4794C45.7617 41.5136 45.7324 41.5576 45.6934 41.5966C45.6836 41.6064 45.5615 41.7285 45.5518 41.7236C45.5273 41.6992 45.7324 41.6064 45.5957 41.6796C45.542 41.7089 45.4834 41.7431 45.4297 41.7724C45.6348 41.7187 45.249 41.8798 45.4297 41.7724C45.3906 41.7822 45.3467 41.7968 45.3076 41.8115C45.2637 41.8212 45.2246 41.831 45.1807 41.8408C45.332 41.8212 45.3516 41.8212 45.2441 41.831C44.3799 41.8408 43.5156 41.8359 42.6514 41.8359H13.7012C12.8271 41.8359 11.9531 41.8505 11.084 41.8359H11.0156C10.9912 41.8359 10.9717 41.831 10.9473 41.831C10.8398 41.8212 10.8594 41.8212 11.0107 41.8408C11.0107 41.8457 10.835 41.7968 10.8203 41.7968C10.8057 41.7919 10.6982 41.7578 10.6982 41.7578C10.6982 41.7529 10.9033 41.8603 10.7031 41.748C10.6689 41.7285 10.6299 41.704 10.5957 41.6845C10.5078 41.6259 10.5273 41.6406 10.6396 41.7285C10.6055 41.704 10.5762 41.6748 10.5469 41.6455C10.5078 41.6113 10.4736 41.5722 10.4394 41.5331C10.2978 41.3915 10.4736 41.5478 10.4541 41.5576C10.4443 41.5624 10.293 41.289 10.2978 41.2841C10.3076 41.2792 10.3711 41.5039 10.3076 41.2792C10.3027 41.2646 10.2588 41.0888 10.2637 41.0888C10.2783 41.0888 10.2783 41.3476 10.2734 41.1523C10.2734 41.0986 10.2685 41.0742 10.2685 41.0156V23.4814C10.2685 22.1679 10.249 20.8496 10.2685 19.5361V19.5312C10.2685 19.5068 10.2637 19.5703 10.2685 19.4628C10.2685 19.4384 10.2734 19.4189 10.2734 19.3945C10.2832 19.2871 10.2832 19.3066 10.2637 19.458C10.2685 19.458 10.3271 19.1455 10.3516 19.1503C10.3564 19.1503 10.249 19.3554 10.3613 19.1552C10.3662 19.1503 10.4541 18.9941 10.4639 18.9941C10.4687 18.999 10.3125 19.165 10.4687 18.999C10.5029 18.9599 10.542 18.9257 10.581 18.8915C10.7227 18.7499 10.5664 18.9257 10.5566 18.9062C10.5518 18.9013 10.7031 18.8134 10.7178 18.8037C10.7324 18.7939 10.8301 18.7451 10.8301 18.7451C10.835 18.7548 10.6103 18.8183 10.835 18.7548C10.8838 18.7402 10.9473 18.7353 10.9912 18.7158C11.0644 18.7011 11.0352 18.706 10.8935 18.7255C10.9375 18.7206 10.9814 18.7158 11.0254 18.7158C11.1035 18.7109 11.1816 18.7158 11.2549 18.7158H45.1855C45.21 18.7158 45.2295 18.7206 45.2539 18.7206C45.3418 18.7304 45.3418 18.7304 45.2539 18.7206C45.2344 18.7158 45.21 18.7158 45.1904 18.7109C45.2344 18.7206 45.2734 18.7304 45.3174 18.7402C45.332 18.7451 45.5029 18.789 45.5029 18.7988C45.498 18.8281 45.3125 18.7011 45.4443 18.7792C45.498 18.8134 45.5518 18.8427 45.6103 18.872C45.7959 18.9746 45.4639 18.7206 45.6152 18.872C45.6396 18.8964 45.8447 19.082 45.835 19.0966C45.8154 19.1162 45.7178 18.8964 45.8105 19.0771C45.835 19.121 45.8643 19.1699 45.8887 19.2138C45.9961 19.3945 45.835 19.0087 45.8887 19.2138C45.8984 19.2529 45.9131 19.2968 45.9277 19.3359C45.9326 19.3554 45.9375 19.3798 45.9424 19.3994C45.9619 19.5068 45.9619 19.4824 45.9375 19.331C45.9326 19.331 45.9326 19.5165 45.9326 19.5312C45.9424 20.0439 46.3769 20.5322 46.9092 20.5078C47.4316 20.4833 47.8955 20.0781 47.8857 19.5312C47.8613 18.2568 46.9629 17.0507 45.6689 16.8212C45.4346 16.7773 45.21 16.7626 44.9756 16.7626H11.2109C10.9473 16.7626 10.6885 16.7822 10.4346 16.8408C9.19433 17.1191 8.33495 18.2861 8.31542 19.5361C8.31054 19.8925 8.31542 20.2441 8.31542 20.6005V40.7714C8.31542 40.8984 8.31054 41.0253 8.32031 41.1523C8.42284 42.5341 9.44335 43.6083 10.8203 43.7695C11.1133 43.8037 11.416 43.789 11.709 43.789H44.5459C44.9756 43.789 45.4053 43.8085 45.8301 43.6962C47.041 43.3789 47.8662 42.2509 47.8857 41.0156V19.5312C47.8857 19.0185 47.4365 18.5302 46.9092 18.5546C46.3818 18.579 45.9326 18.9843 45.9326 19.5312Z"/>
						<path d="M14.6631 37.051H18.0469C18.5596 37.051 19.0478 36.6018 19.0234 36.0744C18.999 35.5471 18.5937 35.0979 18.0469 35.0979H14.6631C14.1504 35.0979 13.6621 35.5471 13.6865 36.0744C13.7109 36.6018 14.1162 37.051 14.6631 37.051ZM20.3418 28.9309H15.791C15.6836 28.9358 15.7275 28.9651 15.7812 28.9406C15.8398 28.9114 15.8643 28.9602 15.7812 28.9358C15.791 28.9358 15.6592 28.9065 15.6543 28.8967C15.6543 28.8576 15.8447 29.0041 15.7129 28.9113C15.5615 28.8039 15.7519 28.9553 15.7568 28.9553C15.7519 28.9602 15.6592 28.8625 15.6641 28.8674C15.5469 28.7649 15.7373 28.9016 15.6982 28.9162C15.6934 28.9162 15.6494 28.8381 15.6494 28.8332C15.6006 28.7258 15.7031 29.0334 15.6592 28.8576C15.6592 28.8674 15.625 28.7307 15.6299 28.7307C15.6592 28.716 15.6396 28.9504 15.6445 28.7893V24.4436C15.6445 24.3752 15.6494 24.302 15.6445 24.2336C15.6445 24.219 15.6543 24.1701 15.6445 24.1604C15.6885 24.2141 15.6006 24.3557 15.6396 24.2238C15.6348 24.2336 15.6689 24.0969 15.6787 24.0969C15.6738 24.0969 15.5859 24.3264 15.6641 24.1555C15.7324 24.0139 15.6445 24.2336 15.6201 24.1994C15.6152 24.1946 15.7129 24.1018 15.708 24.1067C15.8154 23.9895 15.6641 24.1506 15.6592 24.1408C15.6641 24.1457 15.7666 24.0676 15.7715 24.0774C15.7959 24.1164 15.5615 24.136 15.7178 24.1018C15.7422 24.0969 15.835 24.0822 15.8447 24.0725C15.8203 24.092 15.6103 24.0822 15.7861 24.0871H20.0342C20.1269 24.0871 20.2246 24.092 20.3174 24.0871C20.3418 24.0871 20.4004 24.0969 20.415 24.0871C20.3467 24.1408 20.2246 24.0383 20.3516 24.0822C20.376 24.092 20.459 24.1213 20.4785 24.1213C20.4492 24.1262 20.2783 24.0188 20.4199 24.1067C20.5518 24.1897 20.3809 24.0627 20.376 24.0627C20.3809 24.0578 20.4541 24.1408 20.4687 24.1506C20.6103 24.2776 20.4199 24.1115 20.4346 24.1018C20.4297 24.1018 20.5078 24.2092 20.498 24.2141C20.4834 24.2238 20.4297 23.9699 20.4736 24.1604C20.4785 24.1848 20.4932 24.2727 20.5029 24.2873C20.4932 24.2727 20.498 24.092 20.4834 24.1946V24.2385C20.4785 24.3166 20.4834 24.3996 20.4834 24.4778V28.7893C20.4834 28.8137 20.4736 28.8528 20.4834 28.8625C20.4639 28.843 20.5469 28.6281 20.4883 28.799C20.4834 28.8186 20.4785 28.843 20.4687 28.8625C20.4394 28.9455 20.4394 28.9455 20.4687 28.8674C20.5029 28.8528 20.5127 28.7844 20.459 28.8674C20.3613 29.0285 20.498 28.8235 20.5029 28.8235C20.5078 28.8283 20.4248 28.9016 20.415 28.9162C20.3125 29.0334 20.4492 28.843 20.4639 28.8821C20.4687 28.8918 20.3467 28.9406 20.3516 28.9455C20.3418 28.9309 20.5908 28.8772 20.4053 28.9211C20.376 28.9309 20.3418 28.9358 20.3076 28.9455C20.1807 28.9797 20.5664 28.9211 20.3418 28.9309C19.834 28.9455 19.3408 29.3703 19.3652 29.9074C19.3896 30.425 19.7949 30.8987 20.3418 30.884C21.5039 30.8498 22.4072 29.9514 22.4365 28.7893C22.4414 28.5549 22.4365 28.3205 22.4365 28.0862V25.0442C22.4365 24.7756 22.4414 24.5071 22.4365 24.2385C22.417 23.2668 21.7334 22.3293 20.7373 22.1731C20.415 22.1242 20.1025 22.1291 19.7803 22.1291H18.3301C17.4951 22.1291 16.6602 22.1242 15.8252 22.1291C14.9121 22.1389 14.1162 22.6809 13.8037 23.5451C13.6768 23.9016 13.6865 24.2727 13.6865 24.6487V28.6867C13.6865 29.4533 14.0283 30.1711 14.6973 30.5813C15.1318 30.8449 15.6055 30.884 16.0937 30.884H20.3418C20.8545 30.884 21.3428 30.4348 21.3184 29.9074C21.2939 29.3752 20.8887 28.9309 20.3418 28.9309ZM21.7578 37.051H25.1416C25.6543 37.051 26.1426 36.6018 26.1182 36.0744C26.0937 35.5471 25.6885 35.0979 25.1416 35.0979H21.7578C21.2451 35.0979 20.7568 35.5471 20.7812 36.0744C20.8057 36.6018 21.2109 37.051 21.7578 37.051ZM28.8525 37.0998H32.2363C32.749 37.0998 33.2373 36.6506 33.2129 36.1233C33.1885 35.5959 32.7832 35.1467 32.2363 35.1467H28.8525C28.3398 35.1467 27.8516 35.5959 27.876 36.1233C27.9004 36.6506 28.3057 37.0998 28.8525 37.0998ZM35.9473 37.0998H39.331C39.8437 37.0998 40.332 36.6506 40.3076 36.1233C40.2832 35.5959 39.8779 35.1467 39.331 35.1467H35.9473C35.4346 35.1467 34.9463 35.5959 34.9707 36.1233C34.9951 36.6506 35.4004 37.0998 35.9473 37.0998Z"/>
					</svg>
				</a>
				<a href="#!" type="submit">
					<svg class="icons-pay" fill="none" height="50" viewBox="0 0 50 50" width="50" xmlns="http://www.w3.org/2000/svg">
						<path d="M37.4208 10.6152H12.5793C10.9223 10.6172 9.3337 11.2763 8.16203 12.448C6.99036 13.6197 6.33124 15.2082 6.32925 16.8652V33.1347C6.33124 34.7917 6.99036 36.3803 8.16203 37.552C9.3337 38.7236 10.9223 39.3827 12.5793 39.3847H37.4208C39.0777 39.3827 40.6663 38.7236 41.838 37.552C43.0096 36.3803 43.6688 34.7917 43.6708 33.1347V16.8652C43.6688 15.2082 43.0096 13.6197 41.838 12.448C40.6663 11.2763 39.0777 10.6172 37.4208 10.6152ZM12.5793 13.1152H37.4208C38.415 13.1163 39.3682 13.5117 40.0712 14.2148C40.7743 14.9178 41.1697 15.871 41.1708 16.8652V18.5047H8.82925V16.8652C8.83031 15.871 9.22574 14.9178 9.92877 14.2148C10.6318 13.5117 11.585 13.1163 12.5793 13.1152ZM37.4208 36.8847H12.5793C11.585 36.8837 10.6318 36.4882 9.92877 35.7852C9.22574 35.0822 8.83031 34.129 8.82925 33.1347V21.0047H41.1708V33.1347C41.1697 34.129 40.7743 35.0822 40.0712 35.7852C39.3682 36.4882 38.415 36.8837 37.4208 36.8847ZM37.754 31.0387C37.754 31.3703 37.6223 31.6882 37.3879 31.9226C37.1535 32.157 36.8355 32.2887 36.504 32.2887H33.507C33.1755 32.2887 32.8575 32.157 32.6231 31.9226C32.3887 31.6882 32.257 31.3703 32.257 31.0387C32.257 30.7072 32.3887 30.3893 32.6231 30.1549C32.8575 29.9204 33.1755 29.7887 33.507 29.7887H36.504C36.8355 29.7887 37.1535 29.9204 37.3879 30.1549C37.6223 30.3893 37.754 30.7072 37.754 31.0387Z"/>
					</svg>
				</a>
				<a class="text-gray" href="#!" type="submit">
					@* alt payment method *@
				</a>
				<div class="credit-card" id="card">
					<div class="card-front">
						<div class="branding">
							<svg class="chip-img" fill="none" height="50" viewBox="0 0 50 50" width="50" xmlns="http://www.w3.org/2000/svg">
								<path d="M3.8625 39.4968C3.85324 39.9088 4.00716 40.3079 4.29074 40.607C4.57432 40.906 4.9646 41.081 5.37656 41.0937H15.6406C15.7024 41.1198 15.7688 41.1333 15.8359 41.1333C15.903 41.1333 15.9695 41.1198 16.0313 41.0937H45.5984C45.7538 41.0937 45.9029 41.0319 46.0128 40.922C46.1226 40.8121 46.1844 40.6631 46.1844 40.5077V10.464C46.1943 10.0515 46.0406 9.65188 45.757 9.35228C45.4733 9.05267 45.0827 8.87742 44.6703 8.86475H4.40156C4.24616 8.86475 4.09713 8.92648 3.98724 9.03636C3.87736 9.14625 3.81562 9.29528 3.81562 9.45068V30.6249C3.81553 30.7038 3.83148 30.782 3.8625 30.8546V39.4968ZM15.2492 30.0382H5.03437V20.6249H15.2492V30.0382ZM5.03437 39.4968V31.2101H15.2492V39.9218H5.37656C5.276 39.9081 5.18449 39.8565 5.12085 39.7774C5.0572 39.6984 5.02626 39.5979 5.03437 39.4968ZM45.0125 29.3405H34.7508V19.9218H45.0125V29.3405ZM34.7508 39.9218V30.5093H45.0125V39.4937C45.0211 39.5952 44.9903 39.6961 44.9267 39.7756C44.863 39.8551 44.7712 39.9071 44.6703 39.921L34.7508 39.9218ZM45.0125 10.464V18.7499H34.1648C34.0094 18.7499 33.8604 18.8116 33.7505 18.9215C33.6406 19.0314 33.5789 19.1804 33.5789 19.3358V39.9218H16.4211V10.0366H44.6703C44.7712 10.0505 44.863 10.1025 44.9267 10.182C44.9903 10.2615 45.0211 10.3625 45.0125 10.464ZM15.2469 10.0366V19.453H5.03437V10.4687C5.02563 10.3671 5.05628 10.2661 5.11999 10.1865C5.18369 10.107 5.27556 10.055 5.37656 10.0413L15.2469 10.0366Z" fill="black"/>
							</svg>
							<img class="visa-logo" src="~/images/mir_gray.png"/>
						</div>
						<div class="card-number">
							<div>
								<span class="card-number-display">_</span>
								<span class="card-number-display">_</span>
								<span class="card-number-display">_</span>
								<span class="card-number-display">_</span>
							</div>
							<div>
								<span class="card-number-display">_</span>
								<span class="card-number-display">_</span>
								<span class="card-number-display">_</span>
								<span class="card-number-display">_</span>
							</div>
							<div>
								<span class="card-number-display">_</span>
								<span class="card-number-display">_</span>
								<span class="card-number-display">_</span>
								<span class="card-number-display">_</span>
							</div>
							<div>
								<span class="card-number-display">_</span>
								<span class="card-number-display">_</span>
								<span class="card-number-display">_</span>
								<span class="card-number-display">_</span>
							</div>
						</div>
						<div class="details">
							<div>
								<span>Card Holder</span>
								<span id="card-holder-name">Cardholder's Name</span>
							</div>
							<div>
								<span>Expires</span>
								<span id="validity">01/30</span>
							</div>
						</div>
					</div>
					<div class="card-back">
						<div class="black-strip"></div>
						<div class="white-strip">
							<span>CVV</span>
							<div id="cvv-display"></div>
						</div>
						<img class="visa-logo" src="~/images/mir_black.png"/>
					</div>
				</div>

				<form class="mt-4">
					<div class="form-outline form-white mb-4">
						<input class="form-control form-control-lg" id="card-name-input" maxlength="31" placeholder="Cardholder's Name" required style="text-transform: uppercase" type="text"/>
					</div>
					<div class=" form-outline form-white mb-4">
						<input class="form-control form-control-lg" id="card-number" maxlength="16" minlength="16"
							placeholder="1234 5678 9012 3456" required type="text"/>
					</div>
					<div class="date-cvv row mb-4">
						<div class="col-md-6">
							<div class="form-outline form-white">
								<input class="form-control form-control-lg" data-mask="00/00" id="validity-input" maxlength="4" minlength="4" placeholder="MM/YY" required type="text"/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-outline form-white">
								<input class="form-control form-control-lg" id="cvv" maxlength="3" minlength="3"
									placeholder="•••" required size="1" type="password"/>
							</div>
						</div>
					</div>

					@section scripts{
						<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

					<script>
                        $(function () {
                        $("#card-number").mask("0000 0000 0000 0000");
                        });
                        </script>
					
					<script>
						const cardNumber = document.getElementById("card-number");
						const cardHolderName = document.getElementById("card-holder-name");
						const cardNameInput = document.getElementById("card-name-input");
						const displayValidity = document.getElementById("validity");
						const validityInput = document.getElementById("validity-input");
						const cardNumberDisplay = document.querySelectorAll(".card-number-display");
						const cvvInput = document.getElementById("cvv");
						const cvvDisplay = document.getElementById("cvv-display");
						let currentSpanIndex = 0;
						cardNumber.addEventListener("input", () => {
							const inputNumber = cardNumber.value.replace(/\D/g, "");
							cardNumber.value = cardNumber.value.slice(0, 20).replace(/\D/g, " ");
							for (let i = 0; i < cardNumberDisplay.length; i++) {
								if (i < inputNumber.length) {
									cardNumberDisplay[i].textContent = inputNumber[i];
								} else {
									cardNumberDisplay[i].textContent = "_";
								}
							}
							if (inputNumber.length <= cardNumberDisplay.length) {
								currentSpanIndex = inputNumber.length;
							} else {
								currentSpanIndex = cardNumberDisplay.length;
							}
						});
						cardNameInput.addEventListener("input", () => {
							if (cardNameInput.value.length < 1) {
								cardHolderName.innerText = "Cardholder's Name";
							} else if (cardNameInput.value.length > 31) {
								cardNameInput.value = cardNameInput.value.slice(0, 31);
							} else {
								const name = cardNameInput.value.split(" ");
								const regex = /\d/g;
                                const firstName = name[0]; 
								if (firstName.length > 15 || regex.test(firstName)) {
                                	alert("Enter valid cardholder name");
                               	}
                                let lastName = name[1];
								if (lastName.length > 15 || regex.test(lastName)) {
                                	alert("Enter valid cardholder name");
								}
								if (name[2] != null) {
                                	alert("Enter valid cardholder name");
                                }
								cardHolderName.innerText = `${firstName} ${lastName}`;
							}
						});
						validityInput.addEventListener("input", () => {
							const inputString = validityInput.value;
							if (inputString.length < 1) {
								displayValidity.innerText = "01/30";
								return false;
							}
							const parts = inputString.split("/");
							let month = parts[0];
							if (month > 12) {
								alert("Please enter a valid month");
							}
							let year = parts[1];
							if (year == null) {
								year = "";
							}
							if (year!=="" && year < 23 && year > 9) {
								alert("Please enter a valid year");
							}
							const formattedString = `${month}/${year}`;
							displayValidity.innerText = formattedString;
						});
						cvvInput.addEventListener("input", () => {
							const userInput = cvvInput.value;
							const sanitizedInput = userInput.slice(0, 3);
							const numericInput = sanitizedInput.replace(/\D/g, "");
							cvvInput.value = numericInput;
							cvvDisplay.innerText = numericInput;
						});
						cvvInput.addEventListener("click", () => {
							document.getElementById("card").style.transform = "rotateY(180deg)";
						});
						document.addEventListener("click", () => {
							if (document.activeElement.id != "cvv") {
								document.getElementById("card").style.transform = "rotateY(0deg)";
							}
						});
						window.onload = () => {
							cvvInput.value = "";
							validityInput.value = "";
							cardNameInput.value = "";
							cardNumber.value = "";
						};
						</script>
					}

					<button asp-action="AddToLibrary" asp-controller="Library" asp-route-userId="@Model.UserId" class="btn btn-primary btn-shop float-end btn-lg px-4 gap-3" type="submit">
						<div class="d-flex justify-content-center">Check Out</div>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>