@model Checkout

@{
	ViewBag.Title = "Checkout";
	Layout = "_Layout";
}

<h2>Checkout</h2>

<form method="post">
	<div class="row g-3">
		<div asp-validation-summary="ModelOnly"></div>
		<div aria-hidden="true" aria-labelledby="exampleModalLabel" asp-validation-summary="ModelOnly" class="modal fade validation" id="exampleModal" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div asp-validation-summary="ModelOnly" class="modal-body"></div>
					<div class="modal-footer">
						<button class="btn btn-primary btn-shop btn-lg px-4 gap-3" data-bs-dismiss="modal" type="button">Закрыть</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<label asp-for="FirstName" class="form-label">First name</label>
			<input asp-for="FirstName" class="form-control-mine" name="FirstName" placeholder="Ivan">
			<span asp-validation-for="FirstName"></span>
		</div>
		<div class="col-md-4">
			<label asp-for="LastName" class="form-label">Last name</label>
			<input asp-for="LastName" class="form-control-mine" name="LastName" placeholder="Ivanov">
			<span asp-validation-for="LastName"></span>
		</div>
		<div class="col-md-4">
			<label asp-for="Email" class="form-label">E-mail</label>
			<input asp-for="Email" class="form-control-mine" name="Email" placeholder="ya@@mail.ru">
			<span asp-validation-for="Email"></span>
		</div>
		<div class="col-12">
			<label asp-for="Address" class="form-label">Address</label>
			<input asp-for="Address" class="form-control-mine" name="Address" placeholder="Street or avenue">
			<span asp-validation-for="Address"></span>
		</div>
		<div class="col-12">
			<label asp-for="Address2" class="form-label">Address 2</label>
			<input asp-for="Address2" class="form-control-mine" name="Address2" placeholder="Apartment or suite">
			<span asp-validation-for="Address2"></span>
		</div>
		<div class="col-md-6">
			<label asp-for="City" class="form-label">City</label>
			<input asp-for="City" class="form-control-mine" name="City" placeholder="Meowburg">
			<span asp-validation-for="City"></span>
		</div>
		<div class="col-md-3">
			<label asp-for="Region" class="form-label">Region</label>
			<select asp-for="Region" class="form-select" name="Region">
				<option disabled selected value="">Choose...</option>
				<option>Moscow</option>
				<option>Saint Petersburg</option>
				<option>Krasnodar</option>
				<option>Sverdlovsk</option>
				<option>Rostov</option>
				<option>Republic of Bashkortostan</option>
				<option>Republic of Tatarstan</option>
				<option>Kaliningrad</option>
			</select>
			<span asp-validation-for="Region"></span>

		</div>
		<div class="col-md-3">
			<label asp-for="PostCode" class="form-label">Postcode</label>
			<input asp-for="PostCode" class="form-control-mine" id="validationPostCode" maxlength="7" minlength="7" name="PostCode">
			<span asp-validation-for="PostCode"></span>

		</div>
		<div class="col-12">
			<div class="form-check">
				<input asp-for="IsChecked" class="form-check-input" required>
				<label asp-for="IsChecked" class="form-check-label">
					Agree to terms and conditions
				</label>
				<span asp-validation-for="IsChecked"></span>
			</div>
		</div>
		<div class="col-12">
			<button asp-action="Index" class="btn btn-primary btn-hover btn-lg px-4 gap-3" data-bs-target="#exampleModal" data-bs-toggle="modal" type="submit">Submit form</button>
		</div>
	</div>

	@section scripts{
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
		<script>
    	$(function () {
    		$("#validationPostCode").mask("000 000");
    	});
		</script>
	}

</form>