@model Checkout

@{
	ViewBag.Title = "Checkout";
	Layout = "_Layout";
}

<h2>Checkout</h2>

<form class="row g-3" method="post">
	<div class="col-md-4">
		<label class="form-label" for="validationFirstName">First name</label>
		<input class="form-control-mine" id="validationFirstName" name="FirstName" placeholder="Ivan" required type="text">
	</div>
	<div class="col-md-4">
		<label class="form-label" for="validationLastName">Last name</label>
		<input class="form-control-mine" id="validationLastName" name="LastName" placeholder="Ivanov" required type="text">
	</div>
	<div class="col-md-4">
		<label class="form-label" for="validationEmail">E-mail</label>
		<input class="form-control-mine" id="validationEmail" name="Email" placeholder="ya@@mail.ru" required type="email">
	</div>
	<div class="col-12">
		<label class="form-label" for="validationAddress">Address</label>
		<input class="form-control-mine" id="validationAddress" name="Address" placeholder="Street or avenue" required type="text">
	</div>
	<div class="col-12">
		<label class="form-label" for="validationAddress2">Address 2</label>
		<input class="form-control-mine" id="validationAddress2" name="Address2" placeholder="Apartment or suite" required type="text">
	</div>
	<div class="col-md-6">
		<label class="form-label" for="validationCity">City</label>
		<input class="form-control-mine" id="validationCity" name="City" required type="text">
	</div>
	<div class="col-md-3">
		<label class="form-label" for="validationRegion">Region</label>
		<select class="form-select" id="validationRegion" name="Region" required>
			<option disabled selected value="">Choose...</option>
			<option>Moscow</option>
			<option>Saint Petersburg</option>
			<option>Krasnodar</option>
			<option>Sverdlovsk</option>
			<option>Rostov</option>
			<option>Republic of Bashkortostan</option>
			<option>Republic of Tatarstan</option>
			<option>Kaliningrad</option>
		</select>
	</div>
	<div class="col-md-3">
		<label class="form-label" for="validationPostCode">Postcode</label>
		<input class="form-control-mine" id="validationPostCode" name="PostCode" type="text">
	</div>
	<div class="col-12">
		<div class="form-check">
			<input class="form-check-input" id="invalidCheck2" required type="checkbox" value="">
			<label class="form-check-label" for="invalidCheck2">
				Agree to terms and conditions
			</label>
		</div>
	</div>
	<div class="col-12">
		<button asp-action="Checkout" class="btn btn-primary btn-hover btn-lg px-4 gap-3" type="submit">Submit form</button>
	</div>
</form>