html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #414141;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.icons {
    fill: #d0d0d0;
    transition: fill .3s ease-in-out;
}

.icons:hover {
    fill: #000000;
}

.header {
    backgroundcolor: #414141;
    display: flex;
    justify-content: space-around;
}

.my-head-btn {
    display: flex;
    justify-content: space-around;
}

*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --bs-primary-rgb: 166, 166, 166;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 16px;
    --bs-body-line-height: 1.5;
    letter-spacing: 5px;
    --bs-body-color: #d0d0d0;
    --bs-body-bg: #414141;
}

.table {
    --bs-table-hover-color: #d0d0d0;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #d0d0d0;
    vertical-align: text-top;
}

.badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #414141;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.btn-primary {
    color: #414141;
    background-color: #d0d0d0;
    border-color: #d0d0d0;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    transition: color .3s ease-in-out, background-color .15s ease-in-out, border-color .3s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-outline-success {
    color: #d0d0d0;
    border-color: #d0d0d0;
    transition: color 0.3s ease-in-out, background-color 0.15s ease-in-out, border-color 0.3s ease-in-out, box-shadow
}

.btn-outline-success:hover {
    color: #d0d0d0;
    background-color: #000000;
    border-color: #000000;
}

.btn.btn-hover:hover {
    color: #000000;
    background-color: #414141;
    border-color: #414141;
}

.btn.btn-shop:hover {
    color: #414141;
    background-color: #d0d0d0;
    border-color: #414141
}

.form-control-mine {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #d0d0d0;
    background-color: #414141;
    background-clip: padding-box;
    border: 1px solid #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control-mine:focus {
    border-color: #000000;
    box-shadow: #000000;
}

.input-group-text-mine {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #414141;
    text-align: center;
    white-space: nowrap;
    background-color: #d0d0d0;
    border: #d0d0d0;
    border-radius: .25rem;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #d0d0d0;
    background-color: #414141;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1…d' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #000000;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.header_text {
    --bs-text-opacity: 1;
    color: #d0d0d0 !important
}

a {
    color: #d0d0d0;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #d0d0d0;
    text-decoration: none;
    transition: color .3s ease-in-out
}

.nav-link:hover {
    color: #000000;
}

.navbar-brand {
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    color: #414141;
    background-color: #d0d0d0;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}


.card:hover {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    color: #414141;
    background-color: #d0d0d0;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.parent {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;

    &::before {
        height: 80%;
        display: inline-block;
        vertical-align: middle;
        content: '';
    }
}

.block {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;

    .h2 {
        display: block;
        border: none;
    }
}

.new {
    opacity: 0;
}

.old, .new {
    transition: color, opacity 0.3s ease-in-out;
}

.wrap:hover .old {
    opacity: 0;
}

.wrap:hover .new {
    opacity: 1;
    color: #000000;
}

.old.btn, .new.btn {
    transition: opacity 0.5s ease-in-out;
}

.logo-container {
    position: relative;
}

.logo-container a:first-child {
    position: relative;
    z-index: 1;
}

.logo-container a:last-child {
    position: absolute;
    top: -8px;
    left: 4.5px;
    z-index: 2;
}

.shop-container {
    position: relative;
}

.shop-container a:first-child {
    position: relative;
    z-index: 1;
}

.shop-container a:last-child {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #414141;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.form-check-input:checked {
    background-color: #414141;
    border-color: #000000;
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.text-gray {
    color: #414141;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    color: #414141;
    background-color: #d0d0d0 !important;
    background-clip: border-box;
    border: 1px solid rgb(208, 208, 208);
    border-radius: .25rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #414141;
    background-color: #d0d0d0;
    background-clip: padding-box;
    border: 1px solid #414141;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    border-color: #414141;
    box-shadow: #414141;
    background-color: #d0d0d0;
}

.flex-center {
    justify-self: center;
    align-self: end;
    margin-bottom: 0;
}

.flex-end {
    justify-self: end;
    align-self: end;
}

.flex {
    display: grid;
}

.img-mine {
    border-radius: 10%;
    border: 1px solid #d0d0d0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.img-mine:hover:focus {
    border-color: #414141;
}

.comp-btn {
    position: absolute;
    top: 9%;
    left: 5%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #414141;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, fill 0.3s ease-in-out;
    padding: 0;
    height: 36px;
    width: 36px;
}

.comp-btn:hover {
    fill: #000000;
    background-color: #414141;
    border-color: #000000;
}

.del-comp-btn {
    position: absolute;
    top: 9%;
    left: 95%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #414141;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, fill 0.3s ease-in-out;
    padding: 0;
    height: 36px;
    width: 36px;
}

.del-comp-btn:hover {
    fill: #000000;
    background-color: #414141;
    border-color: #000000;
}

.wishl-btn {
    position: absolute;
    top: 9%;
    left: 95%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #414141;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, fill 0.3s ease-in-out;
    padding: 0;
    height: 36px;
    width: 37px;
}

.wishl-btn:hover {
    fill: #000000;
    background-color: #414141;
    border-color: #000000;
}

.del-cart-btn{
    width: 38px;
    height: 38px;
    padding: 1px;
}