html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #343434;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.icons {
    fill: #858585;
    transition: fill 0.3s ease-in-out;
}

.icons:hover {
    fill: black;
}

.header {
    backgroundcolor: #343434;
}

*, ::after, ::before {
    box-sizing: border-box;
    justify-content: space-around;
}

:root {
    --bs-primary-rgb: 133, 133, 133;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 13px;
    --bs-body-font-weight: 300;
    --bs-body-line-height: 1.5;
    letter-spacing: 7px;
    --bs-body-color: #858585;
    --bs-body-bg: #343434;
}

.table {
    --bs-table-hover-color: #858585;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #858585;
    vertical-align: text-top;
}

.badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #343434;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.btn-primary {
    color: #343434;
    background-color: #858585;
    border-color: #858585;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    transition: color .3s ease-in-out, background-color .15s ease-in-out, border-color .3s ease-in-out, box-shadow .15s ease-in-out;
}

.btn.btn-hover:hover {
    color: #000000;
    background-color: #343434;
    border-color: #343434;
}

.btn.btn-shop:hover {
    color: #343434;
    background-color: #858585;
    border-color: #343434
}

.header_text {
    --bs-text-opacity: 1;
    color: #858585 !important
}

a {
    color: #858585;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #858585;
    text-decoration: none;
    transition: color .3s ease-in-out,
}

.nav-link:hover {
    color: #000000;
}

.navbar-brand {
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    color: #343434;
    background-color: #858585;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}


.card:hover {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    color: #343434;
    background-color: #858585;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

