<footer class="footer text-muted" style="bottom:10px; position:fixed">
	<div class="container">
		&copy; 2023 - OnlineShopWebApp - <a asp-action="Privacy" asp-area="" asp-controller="Home">Privacy</a>
	</div>
</footer>