<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<title>@ViewData["Title"] - OnlineShopWebApp</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
	<link asp-append-version="true" href="~/css/site.css" rel="stylesheet"/>
	<link asp-append-version="true" href="~/OnlineShopWebApp.styles.css" rel="stylesheet"/>
</head>
<body>
@await Html.PartialAsync("_Header")
<div class="container">
	<main class="pb-3" role="main">
		@RenderBody()
	</main>
</div>
<footer class="border-top footer text-muted">
	<div class="container">
		&copy; 2023 - OnlineShopWebApp - <a asp-action="Privacy" asp-area="" asp-controller="Home">Privacy</a>
	</div>
</footer>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script asp-append-version="true" src="~/js/site.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>