<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - OnlineShopWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/OnlineShopWebApp.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
        @model SearchModel
    <nav class="navbar navbar-expand-sm header">
        <div class="container-fluid">
            <div class="wrap">
                <a class="navbar-brand old" asp-area="" asp-controller="Home" asp-action="Index">[ ± _ ± ]</a>
                <a class="navbar-brand new" asp-area="" asp-controller="Home" asp-action="Index">[￢ ‿ ￢]</a>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <form method="post">
                    @* <input type="text" name="productName"> *@
                    @* <a asp-controller="Search" asp-action="Details" asp-route="@Model.Message"> *@
                    @*     <input name="name" type="submit" class="btn btn-primary btn-hover btn-lg px-4 gap-3" value="Search"/> *@
                    @* </a> *@
                    <input type="text" name="productName">
                    <button asp-area="" asp-controller="Search" asp-action="Details" asp-route="@Model.Message" type="submit">Search</button>
                </form>
                @* <input class="form-control-mine me-2" name="nameToSearch" type="search" placeholder="Search"> *@
                @* <button class="btn btn-outline-success" asp-area="" asp-controller="Search" asp-action="Details" type="submit">Search</button> *@
                @* <div pseudo="-webkit-textfield-decoration-container"> *@
                @*     <div pseudo="-webkit-search-decoration"></div> *@
                @*     <div> *@
                @*         <div contenteditable="plaintext-only"></div> *@
                @*     </div> *@
                @*     <div pseudo="-webkit-search-cancel-button" aria-label="отменить" role="button"></div> *@
                @*     <div pseudo="-webkit-list-button" style="display: none !important;"></div> *@
                @* </div> *@
                <form class="d-flex">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="Index">
                        <svg class="icons" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 30 30">
                            <path d="M25.8875 24.1125L21.6375 19.875C23.0087 18.1281 23.7528 15.9708 23.75 13.75C23.75 11.7722 23.1635 9.83879 22.0647 8.1943C20.9659 6.54981 19.4041 5.26809 17.5768 4.51121C15.7496 3.75433 13.7389 3.5563 11.7991 3.94215C9.85929 4.328 8.07746 5.28041 6.67894 6.67894C5.28041 8.07746 4.328 9.85929 3.94215 11.7991C3.5563 13.7389 3.75433 15.7496 4.51121 17.5768C5.26809 19.4041 6.54981 20.9659 8.1943 22.0647C9.83879 23.1635 11.7722 23.75 13.75 23.75C15.9708 23.7528 18.1281 23.0087 19.875 21.6375L24.1125 25.8875C24.2287 26.0047 24.367 26.0977 24.5193 26.1611C24.6716 26.2246 24.835 26.2573 25 26.2573C25.165 26.2573 25.3284 26.2246 25.4807 26.1611C25.633 26.0977 25.7713 26.0047 25.8875 25.8875C26.0047 25.7713 26.0977 25.633 26.1611 25.4807C26.2246 25.3284 26.2573 25.165 26.2573 25C26.2573 24.835 26.2246 24.6716 26.1611 24.5193C26.0977 24.367 26.0047 24.2287 25.8875 24.1125ZM6.25 13.75C6.25 12.2666 6.68987 10.8166 7.51398 9.58323C8.33809 8.34986 9.50943 7.38857 10.8799 6.82091C12.2503 6.25325 13.7583 6.10473 15.2132 6.39411C16.668 6.6835 18.0044 7.39781 19.0533 8.4467C20.1022 9.4956 20.8165 10.832 21.1059 12.2868C21.3953 13.7417 21.2468 15.2497 20.6791 16.6201C20.1114 17.9906 19.1502 19.1619 17.9168 19.986C16.6834 20.8101 15.2334 21.25 13.75 21.25C11.7609 21.25 9.85323 20.4598 8.4467 19.0533C7.04018 17.6468 6.25 15.7391 6.25 13.75Z"/>
                        </svg>
                    </a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">
                        <svg class="icons" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 27 30">
                            <path d="M26.3424 27.2864L25.3017 8.4147H20.1025V6.89115C20.1025 3.0912 17.0113 0 13.2115 0C9.41174 0 6.32054 3.09135 6.32054 6.89115V8.4147H0.896401L0.00105207 27.368L0.000145695 27.4008C-0.00720431 28.0829 0.263848 28.7523 0.743398 29.2367C1.2231 29.7216 1.88955 30 2.5719 30H23.7746C24.4778 30 25.1588 29.7071 25.6425 29.196C26.1261 28.685 26.3812 27.989 26.3424 27.2864ZM8.11785 6.89115C8.11785 4.0824 10.4028 1.7973 13.2115 1.7973C16.0201 1.7973 18.3052 4.0824 18.3052 6.89115V8.4147H8.1177V6.89115H8.11785ZM24.3371 27.9603C24.1911 28.1142 23.9862 28.2026 23.7744 28.2026H2.57175C2.36625 28.2026 2.16569 28.1188 2.02094 27.9724C1.87964 27.8299 1.7985 27.6339 1.79715 27.4329L2.6106 10.212H6.32025V12.4879C6.32025 12.9843 6.72255 13.3866 7.2189 13.3866C7.71525 13.3866 8.11755 12.9843 8.11755 12.4879V10.212H18.3051V12.4879C18.3051 12.9843 18.7074 13.3866 19.2037 13.3866C19.7001 13.3866 20.1023 12.9843 20.1023 12.4879V10.212H23.6004L24.5473 27.3855C24.5595 27.597 24.4827 27.8065 24.3371 27.9603Z"/>
                        </svg>
                    </a>
                    <a class="nav-link text-dark icons" asp-area="" asp-controller="Home" asp-action="Index">
                        <svg class="icons" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 35 30">
                            <path d="M30.9113 2.61918C30.0805 1.7884 29.0942 1.12947 28.0086 0.68006C26.9231 0.230648 25.7596 -0.000440558 24.5847 6.30538e-07C23.4098 0.000441819 22.2465 0.232404 21.1613 0.682632C20.076 1.13286 19.0902 1.79253 18.26 2.62393L17.1764 3.72078L16.1017 2.62631L16.0947 2.61932C15.2644 1.78893 14.2785 1.13022 13.1936 0.680818C12.1086 0.231413 10.9458 0.000106434 9.77143 0.000106434C8.59708 0.000106434 7.43424 0.231413 6.34928 0.680818C5.26433 1.13022 4.27851 1.78893 3.44812 2.61932L2.96537 3.10207C1.28834 4.77911 0.346191 7.05366 0.346191 9.42535C0.346191 11.797 1.28834 14.0716 2.96537 15.7486L15.7065 28.4896L17.1453 29.9971L17.1796 29.9628L17.2169 30L18.565 28.5777L31.3941 15.7484C33.0686 14.07 34.009 11.796 34.009 9.42514C34.009 7.05429 33.0686 4.78024 31.3941 3.10186L30.9113 2.61918ZM29.8129 14.1676L17.1796 26.8012L4.54609 14.1676C3.28832 12.9098 2.58172 11.2039 2.58172 9.42517C2.58172 7.64641 3.28832 5.94051 4.54609 4.68273L5.02892 4.19997C6.28608 2.94282 7.99096 2.23627 9.76885 2.2356C11.5467 2.23493 13.2521 2.9402 14.5102 4.19641L17.1715 6.90619L19.8455 4.19997C20.4683 3.57718 21.2076 3.08315 22.0214 2.7461C22.8351 2.40904 23.7072 2.23556 24.588 2.23556C25.4687 2.23556 26.3409 2.40904 27.1546 2.7461C27.9683 3.08315 28.7077 3.57718 29.3304 4.19997L29.8132 4.68266C31.0691 5.94147 31.7743 7.64704 31.7743 9.4252C31.7742 11.2034 31.0689 12.9089 29.8129 14.1676Z"/>
                        </svg>
                    </a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        <svg class="icons" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 26 30">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6761 0C8.12604 0 4.43744 3.6886 4.43744 8.2387C4.43744 11.9953 6.95164 15.1646 10.3891 16.1558C7.67542 16.4865 5.34784 17.4464 3.59441 19.1744C1.36278 21.3738 0.23291 24.6479 0.23291 28.9204C0.23291 29.5168 0.716255 30 1.31246 30C1.9087 30 2.39202 29.5168 2.39202 28.9204C2.39202 25.0113 3.42121 22.3765 5.10997 20.7122C6.80191 19.0448 9.3278 18.1819 12.676 18.1819C16.0243 18.1819 18.5503 19.0448 20.2423 20.7122C21.931 22.3765 22.9603 25.0113 22.9603 28.9204C22.9603 29.5168 23.4435 30 24.0399 30C24.636 30.0002 25.1194 29.5168 25.1194 28.9207C25.1194 24.6479 23.9894 21.3738 21.7578 19.1744C20.0044 17.4464 17.6768 16.4866 14.9631 16.1559C18.4005 15.1647 20.9148 11.9953 20.9148 8.2387C20.9148 3.6886 17.2262 0 12.6761 0ZM6.59655 8.2387C6.59655 4.88104 9.31848 2.15911 12.6761 2.15911C16.0338 2.15911 18.7557 4.88104 18.7557 8.2387C18.7557 11.5964 16.0338 14.3183 12.6761 14.3183C9.31848 14.3183 6.59655 11.5964 6.59655 8.2387Z"/>
                        </svg>
                    </a>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - OnlineShopWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>