<div class="credit-card" id="card">
	<div class="card-front">
		<div class="branding">
			<img class="chip-img" src="~/images/chip.png"/>
			<img class="visa-logo" src="~/images/mir.png"/>
		</div>
		<div class="card-number">
			<div>
				<span class="card-number-display">_</span>
				<span class="card-number-display">_</span>
				<span class="card-number-display">_</span>
				<span class="card-number-display">_</span>
			</div>
			<div>
				<span class="card-number-display">_</span>
				<span class="card-number-display">_</span>
				<span class="card-number-display">_</span>
				<span class="card-number-display">_</span>
			</div>
			<div>
				<span class="card-number-display">_</span>
				<span class="card-number-display">_</span>
				<span class="card-number-display">_</span>
				<span class="card-number-display">_</span>
			</div>
			<div>
				<span class="card-number-display">_</span>
				<span class="card-number-display">_</span>
				<span class="card-number-display">_</span>
				<span class="card-number-display">_</span>
			</div>
		</div>
		<div class="details">
			<div>
				<span>Card Holder</span>
				<span id="card-holder-name">Your Name Here</span>
			</div>
			<div>
				<span>Expires</span>
				<span id="validity">06/28</span>
			</div>
		</div>
	</div>
	<div class="card-back">
		<div class="black-strip"></div>
		<div class="white-strip">
			<span>CVV</span>
			<div id="cvv-display"></div>
		</div>
		<img class="visa-logo" src="~/images/mir.png"/>
	</div>
</div>
<form>
	<label for="typeCardNumber">Card Number</label>
	<input id="typeCardNumber" placeholder="1234123412341234" type="number"/>
	<label for="typeName">Card Holder:</label>
	<input id="typeName" placeholder="Your Name" type="text"/>
	<div class="date-cvv">
		<div>
			<label for="typeDate">Expires On:</label>
			<input id="typeDate" type="date"/>
		</div>
		<div>
			<label for="typeCvv">CVV:</label>
			<input id="typeCvv" placeholder="***" type="number"/>
		</div>
	</div>
</form>
@* <form class="mt-4"> *@
@* 	<div class="form-outline form-white mb-4"> *@
@* 		<input class="form-control form-control-lg" id="typeName" placeholder="Cardholder's Name" siez="17" *@
@* 			style="text-transform: uppercase" type="text"/> *@
@* 	</div> *@
@* 	<div class=" form-outline form-white mb-4"> *@
@* 		<input class="form-control form-control-lg" id="typeCardNumber" maxlength="16" minlength="16" *@
@* 			placeholder="1234 5678 9012 3456" type="text"/> *@
@* 	</div> *@
@* 	<div class="date-cvv row mb-4"> *@
@* 		<div class="col-md-6"> *@
@* 			<div class="form-outline form-white"> *@
@* 				<input class="form-control form-control-lg" id="typeDate" *@
@* 					maxlength="4" minlength="4" placeholder="MM/YY" size="7" type="text"/> *@
@* 			</div> *@
@* 		</div> *@
@* 		<div class="col-md-6"> *@
@* 			<div class="form-outline form-white"> *@
@* 				<input class="form-control form-control-lg" id="typeCvv" maxlength="3" *@
@* 					minlength="3" placeholder="•••" size="1" type="password"/> *@
@* 			</div> *@
@* 		</div> *@
@* 	</div> *@
@* </form> *@


@* Credit Card Payment Form *@
<script>
const cardNumber = document.getElementById("typeCardNumber");
const cardHolderName = document.getElementById("card-holder-name");
const cardNameInput = document.getElementById("typeName");
const displayValidity = document.getElementById("typeDate");
const validityInput = document.getElementById("validity-input");
const cardNumberDisplay = document.querySelectorAll(".card-number-display");
const cvvInput = document.getElementById("typeCvv");
const cvvDisplay = document.getElementById("cvv-display");
// const cardNumber = document.getElementById("typeCardNumber");
// const cardHolderName = document.getElementById("card-holder-name");
// const cardNameInput = document.getElementById("typeName");
// const displayValidity = document.getElementById("validity");
// const validityInput = document.getElementById("typeDate");
// const cardNumberDisplay = document.querySelectorAll(".card-number-display");
// const cvvInput = document.getElementById("typeCvv");
// const cvvDisplay = document.getElementById("cvv-display");
let currentSpanIndex = 0;
cardNumber.addEventListener("input", () => {
const inputNumber = cardNumber.value.replace(/\D/g, "");
cardNumber.value = cardNumber.value.slice(0, 16).replace(/\D/g, "");
for (let i = 0; i < cardNumberDisplay.length; i++) {
if (i < inputNumber.length) {
cardNumberDisplay[i].textContent = inputNumber[i];
} else {
cardNumberDisplay[i].textContent = "_";
}
}
if (inputNumber.length <= cardNumberDisplay.length) {
currentSpanIndex = inputNumber.length;
} else {
currentSpanIndex = cardNumberDisplay.length;
}
});
cardNameInput.addEventListener("input", () => {
if (cardNameInput.value.length < 1) {
cardHolderName.innerText = "Your Name Here";
} else if (cardNameInput.value.length > 30) {
cardNameInput.value = cardNameInput.value.slice(0, 30);
} else {
cardHolderName.innerText = cardNameInput.value;
}
});
validityInput.addEventListener("input", () => {
const inputString = validityInput.value;
if (inputString.length < 1) {
displayValidity.innerText = "06/28";
return false;
}
const parts = inputString.split("-");
const year = parts[0].slice(2);
const month = parts[1];
//Final formatted string
const formattedString = `${month}/${year}`;
displayValidity.innerText = formattedString;
});
//cvv
cvvInput.addEventListener("input", () => {
const userInput = cvvInput.value;
const sanitizedInput = userInput.slice(0, 3);
const numericInput = sanitizedInput.replace(/\D/g, "");
cvvInput.value = numericInput;
cvvDisplay.innerText = numericInput;
});
//Flip
cvvInput.addEventListener("click", () => {
document.getElementById("card").style.transform = "rotateY(180deg)";
});
//Reflip card
document.addEventListener("click", () => {
if (document.activeElement.id != "cvv") {
document.getElementById("card").style.transform = "rotateY(0deg)";
}
});
window.onload = () => {
cvvInput.value = "";
validityInput.value = "";
cardNameInput.value = "";
cardNumber.value = "";
};
</script>

@* <script> *@
@* $(function () { *@
@* $("#typeCardNumber").mask("0000 0000 0000 0000"); *@
@* }); *@
@* $(function () { *@
@* $("#typeDateExp").mask("00/00") *@
@* }); *@
@* </script> *@