@model List<Microsoft.AspNetCore.Identity.IdentityRole>

<script crossorigin="anonymous" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<h2>Roles</h2>

<a asp-action="Add" class="btn btn-primary btn-shop btn-lg px-4 gap-3">
	Add new role
</a>
<table class="table table-hover table-borderless table-striped-columns">
	@foreach (var role in Model)
	{
		<tr>
			<td class="text-center">@role.Name</td>
			<td class="text-center">
				<div class="dropdown">
					<button aria-expanded="false" class="btn btn-primary btn-shop btn-lg px-4 gap-3 dropdown-toggle" data-bs-toggle="dropdown" type="button">
						Edit role
					</button>
					<ul class="dropdown-menu">
						<li>
							<form method="post">
								<input name="oldRoleName" type="hidden" value="@role.Name"/>
								<input class="form-control-roles" name="newRoleName" type="text" value="@role.Name">
								<button asp-action="Edit" class="dropdown-item" type="submit">Edit</button>
							</form>
						</li>
					</ul>
				</div>
			</td>
			<td class="text-center">
				<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade validation" id="exampleModal" tabindex="-1">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								Are you sure?
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary btn-shop btn-lg px-4 gap-3" data-bs-dismiss="modal" type="button">Cancel</button>
								<a asp-action="Delete" asp-route-roleName="@role.Name" class="btn btn-primary btn-shop btn-lg px-4 gap-3">
									Yes, delete role!
								</a>
							</div>
						</div>
					</div>
				</div>
				<button class="btn btn-primary btn-hover btn-lg px-4 gap-3" data-bs-target="#exampleModal" data-bs-toggle="modal">Delete role</button>
			</td>
		</tr>
	}
</table>