@model UserViewModel

@if (Model.Picture == null)
{
	<a asp-action="Login" asp-area="" asp-controller="Users" class="nav-link text-dark">
		<svg class="icons" height="24" viewBox="0 0 26 30" xmlns="http://www.w3.org/2000/svg">
			<path clip-rule="evenodd" d="M12.6761 0C8.12604 0 4.43744 3.6886 4.43744 8.2387C4.43744 11.9953 6.95164 15.1646 10.3891 16.1558C7.67542 16.4865 5.34784 17.4464 3.59441 19.1744C1.36278 21.3738 0.23291 24.6479 0.23291 28.9204C0.23291 29.5168 0.716255 30 1.31246 30C1.9087 30 2.39202 29.5168 2.39202 28.9204C2.39202 25.0113 3.42121 22.3765 5.10997 20.7122C6.80191 19.0448 9.3278 18.1819 12.676 18.1819C16.0243 18.1819 18.5503 19.0448 20.2423 20.7122C21.931 22.3765 22.9603 25.0113 22.9603 28.9204C22.9603 29.5168 23.4435 30 24.0399 30C24.636 30.0002 25.1194 29.5168 25.1194 28.9207C25.1194 24.6479 23.9894 21.3738 21.7578 19.1744C20.0044 17.4464 17.6768 16.4866 14.9631 16.1559C18.4005 15.1647 20.9148 11.9953 20.9148 8.2387C20.9148 3.6886 17.2262 0 12.6761 0ZM6.59655 8.2387C6.59655 4.88104 9.31848 2.15911 12.6761 2.15911C16.0338 2.15911 18.7557 4.88104 18.7557 8.2387C18.7557 11.5964 16.0338 14.3183 12.6761 14.3183C9.31848 14.3183 6.59655 11.5964 6.59655 8.2387Z" fill-rule="evenodd"/>
		</svg>
		<sub class="icons">!</sub>
	</a>
}
else
{
	<a asp-action="Login" asp-area="" asp-controller="Users" class="nav-link-cart text-dark">
		<image alt="account img" height="30px" src="@Model.Picture" style="border-radius: 50%;"/>
	</a>
}