@model List<OnlineShop.Db.Models.Role>

@foreach (var role in Model)
{
	<div class="form-check form-switch">
		<input class="form-check-input" id="flexSwitchCheckDefault" name="roleNames" type="checkbox" value="@role">
		<label class="form-check-label" for="flexSwitchCheckDefault">@role.Name</label>
	</div>
}