@model int

@if (Model == 0)
{
	<a asp-area="" asp-action="Index" asp-area="" asp-controller="Comparison" class="nav-link text-dark">
		<svg class="icons" height="24" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
			<path d="M17.0644 0C19.1331 0 20.8102 1.67707 20.8102 3.74584V6.69257H26.2209C28.2896 6.69257 29.9667 8.36964 29.9667 10.4384V28.7514C29.9667 29.441 29.4077 30 28.7181 30H1.24861C0.559029 30 0 29.441 0 28.7514V15.4328C0 13.3641 1.67707 11.687 3.74584 11.687H9.1565V3.74584C9.1565 1.67707 10.8336 0 12.9023 0H17.0644ZM26.2209 9.18979H20.8102V27.5028H27.4695V10.4384C27.4695 9.74881 26.9104 9.18979 26.2209 9.18979ZM17.0644 2.49723H12.9023C12.2128 2.49723 11.6537 3.05626 11.6537 3.74584V27.5028H18.313V3.74584C18.313 3.05626 17.754 2.49723 17.0644 2.49723ZM9.1565 14.1842H3.74584C3.05626 14.1842 2.49723 14.7433 2.49723 15.4328V27.5028H9.1565V14.1842Z"/>
		</svg>
	</a>
}
else
{
	<a asp-area="" asp-action="Index" asp-area="" asp-controller="Comparison" class="nav-link-cart text-dark">
		<svg class="icons" height="24" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
			<path d="M17.0644 0C19.1331 0 20.8102 1.67707 20.8102 3.74584V6.69257H26.2209C28.2896 6.69257 29.9667 8.36964 29.9667 10.4384V28.7514C29.9667 29.441 29.4077 30 28.7181 30H1.24861C0.559029 30 0 29.441 0 28.7514V15.4328C0 13.3641 1.67707 11.687 3.74584 11.687H9.1565V3.74584C9.1565 1.67707 10.8336 0 12.9023 0H17.0644ZM26.2209 9.18979H20.8102V27.5028H27.4695V10.4384C27.4695 9.74881 26.9104 9.18979 26.2209 9.18979ZM17.0644 2.49723H12.9023C12.2128 2.49723 11.6537 3.05626 11.6537 3.74584V27.5028H18.313V3.74584C18.313 3.05626 17.754 2.49723 17.0644 2.49723ZM9.1565 14.1842H3.74584C3.05626 14.1842 2.49723 14.7433 2.49723 15.4328V27.5028H9.1565V14.1842Z"/>
		</svg>
		<sub class="icons">@Model</sub>
	</a>
}