@model UserViewModel

<h2>Changing password</h2>

<form method="post">
	<div class="col">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="col-4">
			<input asp-for="Id" name="Id" type="hidden" value="@Model.Id">
			<input name="oldPassword" type="hidden" value="@Model.Password">
			@* <input asp-for="RoleName" name="RoleName" type="hidden" value="@Model.RoleName"> *@
			
			<input asp-for="Email" class="form-control-mine" name="Email" readonly type="text" value="@Model.Email">
		</div>
		<br/>
		<div class="col-4">
			<input asp-for="Password" class="form-control-mine" name="Password" placeholder="Password" required type="password">
			<span asp-validation-for="Password"></span>
		</div>
		<br/>

		<div class="col-4">
			<input asp-for="ConfirmPassword" class="form-control-mine" name="ConfirmPassword" placeholder="Confirm password" required type="password">
			<span asp-validation-for="ConfirmPassword"></span>
		</div>
		<br/>
		<div>
			<button asp-action="ChangePassword" class="btn btn-primary btn-hover btn-lg px-4 gap-3" type="submit">Submit</button>
		</div>
	</div>
</form>