@model Login

@{
	ViewBag.Title = "Login";
	Layout = "_Layout";
}

<h2>Login</h2>

<form method="post">
	<div class="col">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="col-4 text-start" style="margin: 1rem">
			<a asp-action="GithubLogin">
				<svg class="icons" height="40" viewBox="0 0 42 40" width="42" xmlns="http://www.w3.org/2000/svg">
					<path clip-rule="evenodd" d="M20.5063 0C9.18249 0 0 9.18045 0 20.5063C0 29.5669 5.87569 37.2532 14.0235 39.9651C15.048 40.1553 15.4242 39.5202 15.4242 38.9786C15.4242 38.4896 15.4052 36.8743 15.3964 35.1608C9.69151 36.4012 8.48771 32.7413 8.48771 32.7413C7.5549 30.371 6.21085 29.7408 6.21085 29.7408C4.34997 28.4681 6.3511 28.4945 6.3511 28.4945C8.40995 28.6389 9.49456 30.6077 9.49456 30.6077C11.3235 33.742 14.2918 32.836 15.4619 32.3124C15.646 30.987 16.1774 30.0821 16.7639 29.57C12.2091 29.0521 7.42076 27.2935 7.42076 19.436C7.42076 17.1972 8.22216 15.3679 9.53395 13.9315C9.32069 13.4153 8.61879 11.3296 9.73226 8.50503C9.73226 8.50503 11.4539 7.9539 15.3726 10.607C17.0087 10.1523 18.7633 9.92378 20.5063 9.91597C22.2484 9.92378 24.004 10.1516 25.6431 10.6063C29.5571 7.95322 31.2767 8.50435 31.2767 8.50435C32.3929 11.3286 31.691 13.4146 31.4781 13.9308C32.7929 15.3672 33.5885 17.1965 33.5885 19.4353C33.5885 27.3115 28.7913 29.0453 24.225 29.5533C24.9609 30.1897 25.6163 31.438 25.6163 33.3508C25.6163 36.0946 25.5925 38.3029 25.5925 38.9783C25.5925 39.524 25.962 40.1634 27.0011 39.962C35.1441 37.2475 41.013 29.5635 41.013 20.5063C41.0127 9.18113 31.8312 0 20.5063 0Z" fill-rule="evenodd"/>
				</svg>
			</a>
			<a asp-action="GoogleLogin">
				<svg class="icons" height="40" viewBox="0 0 40 40" width="40" xmlns="http://www.w3.org/2000/svg">
					<path d="M20 17.1354H38.8802C39.0885 18.2986 39.1927 19.4097 39.1927 20.4687C39.1927 24.2361 38.4028 27.5998 36.8229 30.5599C35.2431 33.52 32.9905 35.8333 30.0651 37.5C27.1398 39.1667 23.7847 40 20 40C17.2743 40 14.6788 39.4748 12.2135 38.4245C9.74826 37.3741 7.62153 35.9549 5.83333 34.1667C4.04514 32.3785 2.62587 30.2517 1.57552 27.7865C0.525174 25.3212 0 22.7257 0 20C0 17.2743 0.525174 14.6788 1.57552 12.2135C2.62587 9.74826 4.04514 7.62153 5.83333 5.83333C7.62153 4.04514 9.74826 2.62587 12.2135 1.57552C14.6788 0.525174 17.2743 0 20 0C25.2083 0 29.6788 1.74479 33.4115 5.23437L27.9687 10.4687C25.8333 8.40278 23.1771 7.36979 20 7.36979C17.7604 7.36979 15.6901 7.93403 13.7891 9.0625C11.888 10.191 10.3819 11.7231 9.27083 13.6589C8.15972 15.5946 7.60417 17.7083 7.60417 20C7.60417 22.2917 8.15972 24.4054 9.27083 26.3411C10.3819 28.2769 11.888 29.809 13.7891 30.9375C15.6901 32.066 17.7604 32.6302 20 32.6302C21.5104 32.6302 22.8993 32.4219 24.1667 32.0052C25.434 31.5885 26.4757 31.0677 27.2917 30.4427C28.1076 29.8177 28.8194 29.1059 29.4271 28.3073C30.0347 27.5087 30.4818 26.7535 30.7682 26.0417C31.0547 25.3299 31.25 24.6528 31.3542 24.0104H20V17.1354Z"/>
				</svg>
			</a>
			<a asp-action="YandexLogin">
				<svg class="icons" height="40" viewBox="0 0 40 40" width="40" xmlns="http://www.w3.org/2000/svg">
					<path d="M7.08751 0C3.16128 0 0 3.16128 0 7.08751V32.9125C0 36.8387 3.16128 40 7.08751 40H26.095L40 20.005L26.095 4e-05H7.08751V0ZM17.7313 7.30251H22.2475C22.5248 7.30251 22.6837 7.40391 22.6837 7.64251V32.5325C22.6837 32.7018 22.6039 32.8037 22.3662 32.8037H19.91C19.7526 32.8037 19.6337 32.6679 19.6337 32.5662V23.3512H17.6512L12.145 32.5662C12.0659 32.7358 11.9077 32.8037 11.67 32.8037H8.85747C8.54147 32.8037 8.34331 32.5662 8.54123 32.26L14.6012 22.875C11.3537 21.6509 9.53123 19.1687 9.53123 15.8025C9.53123 10.1919 13.2949 7.30247 17.7312 7.30247L17.7313 7.30251ZM17.6125 9.47751C15.196 9.47751 12.8187 11.2116 12.8187 15.4625C12.8187 19.5429 15.3543 21.175 17.9687 21.175H19.6337V9.47751H17.6125Z"/>
				</svg>
			</a>
		</div>
		<div class="col-4">
			<input asp-for="Email" class="form-control-mine" name="Email" placeholder="E-mail" required>
			<span asp-validation-for="Email"></span>
		</div>
		<br/>
		<div class="col-4">
			<input asp-for="Password" class="form-control-mine" name="Password" placeholder="Password" required type="password">
			<span asp-validation-for="Password"></span>
		</div>
		<br/>
		<div class="form-check">
			<input asp-for="IsChecked" class="form-check-input" name="IsChecked" type="checkbox">
			<span asp-validation-for="IsChecked"></span>

			<label class="form-check-label">
				Remember me
			</label>
		</div>
		<br/>
		<div>
			<button asp-action="Login" class="btn btn-primary btn-hover btn-lg px-4 gap-3" type="submit">Login</button>
			<a asp-action="Register" class="btn btn-outline-secondary btn-lg px-4">Register</a>
		</div>
	</div>
</form>