@model Login

@{
	ViewBag.Title = "Login";
	Layout = "_Layout";
}

<h2>Login</h2>

<form method="post">
	<div class="col">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="col-4">
			<input asp-for="Email" class="form-control-mine" name="Email" placeholder="E-mail" required>
			<span asp-validation-for="Email"></span>
		</div>
		<br/>
		<div class="col-4">
			<input asp-for="Password" class="form-control-mine" name="Password" placeholder="Password" required type="password">
			<span asp-validation-for="Password"></span>
		</div>
		<br/>
		<div class="form-check">
			<input asp-for="IsChecked" class="form-check-input" name="IsChecked" type="checkbox">
			<span asp-validation-for="IsChecked"></span>

			<label class="form-check-label">
				Remember me
			</label>
		</div>
		<br/>
		<div>
			<button asp-action="Login" class="btn btn-primary btn-hover btn-lg px-4 gap-3" type="submit">Login</button>
			<a asp-action="Register" class="btn btn-outline-secondary btn-lg px-4">Register</a>
		</div>
	</div>
</form>