@model Login

@{
	ViewBag.Title = "Login";
	Layout = "_Layout";
}

<h2>Login</h2>

<form method="post">
	<div class="col">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="col-4 text-start" style="margin: 1rem">
			<a asp-action="GithubLogin" role="button">
				<svg class="icons" xmlns="http://www.w3.org/2000/svg" width="42" height="40" viewBox="0 0 42 40">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5063 0C9.18249 0 0 9.18045 0 20.5063C0 29.5669 5.87569 37.2532 14.0235 39.9651C15.048 40.1553 15.4242 39.5202 15.4242 38.9786C15.4242 38.4896 15.4052 36.8743 15.3964 35.1608C9.69151 36.4012 8.48771 32.7413 8.48771 32.7413C7.5549 30.371 6.21085 29.7408 6.21085 29.7408C4.34997 28.4681 6.3511 28.4945 6.3511 28.4945C8.40995 28.6389 9.49456 30.6077 9.49456 30.6077C11.3235 33.742 14.2918 32.836 15.4619 32.3124C15.646 30.987 16.1774 30.0821 16.7639 29.57C12.2091 29.0521 7.42076 27.2935 7.42076 19.436C7.42076 17.1972 8.22216 15.3679 9.53395 13.9315C9.32069 13.4153 8.61879 11.3296 9.73226 8.50503C9.73226 8.50503 11.4539 7.9539 15.3726 10.607C17.0087 10.1523 18.7633 9.92378 20.5063 9.91597C22.2484 9.92378 24.004 10.1516 25.6431 10.6063C29.5571 7.95322 31.2767 8.50435 31.2767 8.50435C32.3929 11.3286 31.691 13.4146 31.4781 13.9308C32.7929 15.3672 33.5885 17.1965 33.5885 19.4353C33.5885 27.3115 28.7913 29.0453 24.225 29.5533C24.9609 30.1897 25.6163 31.438 25.6163 33.3508C25.6163 36.0946 25.5925 38.3029 25.5925 38.9783C25.5925 39.524 25.962 40.1634 27.0011 39.962C35.1441 37.2475 41.013 29.5635 41.013 20.5063C41.0127 9.18113 31.8312 0 20.5063 0Z"/>
                </svg>
			</a>
		</div>
		<div class="col-4">
			<input asp-for="Email" class="form-control-mine" name="Email" placeholder="E-mail" required>
			<span asp-validation-for="Email"></span>
		</div>
		<br/>
		<div class="col-4">
			<input asp-for="Password" class="form-control-mine" name="Password" placeholder="Password" required type="password">
			<span asp-validation-for="Password"></span>
		</div>
		<br/>
		<div class="form-check">
			<input asp-for="IsChecked" class="form-check-input" name="IsChecked" type="checkbox">
			<span asp-validation-for="IsChecked"></span>

			<label class="form-check-label">
				Remember me
			</label>
		</div>
		<br/>
		<div>
			<button asp-action="Login" class="btn btn-primary btn-hover btn-lg px-4 gap-3" type="submit">Login</button>
			<a asp-action="Register" class="btn btn-outline-secondary btn-lg px-4">Register</a>
		</div>
	</div>
</form>