@model Account

@{
	ViewBag.Title = "Register";
	Layout = "_Layout";
}

<h2>Register</h2>

<form method="post">
	<div class="col">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="col-4">
			<input asp-for="UserId" type="hidden" name="UserId" value="@Guid.NewGuid">
			<input asp-for="RoleName" type="hidden" name="RoleName" value="User">
			
			<input asp-for="Email" class="form-control-mine" name="Email" placeholder="E-mail">
			<span asp-validation-for="Email"></span>
		</div>
		<br/>
		<div class="col-4">
			<input asp-for="Password" class="form-control-mine" name="Password" placeholder="Password" type="password">
			<span asp-validation-for="Password"></span>
		</div>
		<br/>
		<div class="col-4">
			<input asp-for="ConfirmPassword" class="form-control-mine" name="ConfirmPassword" placeholder="Confirm password" type="password">
			<span asp-validation-for="ConfirmPassword"></span>
		</div>
		<br/>
		<div>
			<a asp-action="Login" class="btn btn-outline-secondary btn-lg x-4">Login</a>
			<button asp-action="Register" class="btn btn-primary btn-hover btn-lg px-4 gap-3 " type="submit">Register</button>
		</div>
	</div>
</form>